<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="translatorApiKey" value="7431411a1afb440292ca8dfb5729635d"/>
    <add key="translatorApiEndpoint" value="https://api.cognitive.microsofttranslator.com/"/>
    <add key="translatorApiVersion" value="3.0"/>
    <add key="translatorApiRegion" value="global"/>
    <add key="resultDirectoryPath" value="C:\tmp\parsingResults\"/>
  </appSettings>
</configuration>